---
import Layout from '../layouts/Layout.astro';
import AboutMe from "../components/Contact.astro"
import CodeIcon from "../components/icons/Code.astro"
import Experience from "../components/Friends.astro"
import ProfileCheck from "../components/icons/ProfileCheck.astro"
import Projects from "../components/Projects.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro"
import TitleSection from "../components/TitleSection.astro"
import QuestionMarkCircled from '@astropub/icons/QuestionMarkCircled'	
---

<Layout
  title="deepy site!"
  description="im just a dork :3"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-26">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-14">
		
    <SectionContainer id="whoami">
      <TitleSection>
		<QuestionMarkCircled size="29" stroke="bold"/>
        so whoami?
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="friends">
      <TitleSection>
        <CodeIcon class="size-7" />
        friends!!
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="contact">
      <TitleSection>
        <ProfileCheck class="size-8" />
        contact!
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>