---
---

<article class="flex flex-col items-left justify-left gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      main email: deepy@duck.com
    </p>

    <p>
      discord: cherryfrewt
    </p>

    <p>
      bluesky: same as my website name ur smart u can figure it out :3
    </p>
  </div>

</article>
