---
// RetroFriends.astro
interface Friend {
  name: string;
  bannerUrl: string;
  websiteUrl: string;
  description?: string;
}

const friends: Friend[] = [
  {
    name: "Sapphic System",
    bannerUrl: "https://sapphic.moe/buttons/friends/sapphic/image.png",
    websiteUrl: "https://sapphic.moe",
    description: "chloe :3"
  },
  {
    name: "Espi!!",
    bannerUrl: "https://espi.me/img/webring/espi.png",
    websiteUrl: "https://espi.me",
    description: "trans activist and best friend!"
  },
  {
    name: "Megu!",
    bannerUrl: "https://espi.me/img/webring/megu.png",
    websiteUrl: "https://megu.dev",
    description: "free RieGPT :3 subscription!"
  },
  {
    name: "coleslaw",
    bannerUrl: "https://espi.me/img/webring/colepaws.png",
    websiteUrl: "https://colepaws.pet",
    description: "Best pet community"
  },
  {
    name: "alula!",
    bannerUrl: "https://espi.me/img/webring/alula.png",
    websiteUrl: "https://alula.me",
    description: "best ida work ever"
  },
  {
    name: "mariomasta!",
    bannerUrl: "https://espi.me/img/webring/mariomasta.png",
    websiteUrl: "https://mariomasta64.me",
    description: "supa mario"
  },
  {
    name: "miaowing and purring on it",
    bannerUrl: "https://espi.me/img/webring/maeve.png",
    websiteUrl: "https://miaow.ing/",
    description: "semi oomf lmao mrow"
  },
  {
    name: "n3ptune_cpu",
    bannerUrl: "https://pbs.twimg.com/media/Gcicb-OXgAAAZsz?format=png&name=360x360",
    websiteUrl: "https://nepnetwork.xyz",
    description: "woa!"
  },
  {
    name: "char_ptr",
    bannerUrl: "https://pbs.twimg.com/media/Gchv-4HXkAAg97f?format=png",
    websiteUrl: "https://meli.one/",
    description: "bestie!"
  },
  {
    name: "sayori/mela",
    bannerUrl: "https://i.imgur.com/TWTGOEW.png",
    websiteUrl: "https://melapologetic.dev/",
    description: "bestie!"
  },
  {
     name: "pawby",
     bannerUrl: "https://aubrey.rs/buttons/friends/aubrey.png",
     websiteUrl: "https://aubrey.rs/",
     description: "hawk tuah~!"
  },
 {
     name: "neeko",
     bannerUrl: "https://neeko.page/media/neekopage-badge.gif",
     websiteUrl: "https://neeko.page/",
     description: "banger vtuber and long time friend!"
  },
 {
     name: "nta~",
     bannerUrl: "https://espi.me/img/webring/nta.png",
     websiteUrl: "https://ntauthority.me/",
     description: "read if cute"
  },
 {
     name: "scrumpy",
     bannerUrl: "https://uwu.gal/button.png",
     websiteUrl: "https://uwu.gal/",
     description: "kinda sounds like scrcpy tbh"
  },
 {
     name: "vorlie",
     bannerUrl: "<iframe src="https://vorlie.pages.dev/iframe/" height="31" width="88" frameborder="0" loading="lazy"></iframe>",
     websiteUrl: "https://uwu.gal/",
     description: "scream if you love poland"
  },
 {
     name: "byeoon",
     bannerUrl: "https://vorlie.pages.dev/images/byoon.png",
     websiteUrl: "https://byeoon.github.io/",
     description: "he logs balls :3"
  },
];

// Optional: Randomize the order of friends
const shuffledFriends = [...friends].sort(() => Math.random() - 0.5);
---

    <!-- Main banner container -->
    <div class="p-4 rounded">
      <!-- Flexbox container for banners -->
      <div class="flex flex-wrap gap-4 justify-center items-center">
        {shuffledFriends.map((friend) => (
          <div class="group relative">
            <!-- Banner wrapper with hover effect -->
            <a
              href={friend.websiteUrl}
              target="_blank"
              rel="noopener noreferrer"
              class="block hover:translate-y-[-2px] transition-transform duration-200"
              title={friend.description || friend.name}
            >
              <!-- The 88x31 banner image -->
              <img
                src={friend.bannerUrl}
                alt={`${friend.name}'s website banner`}
                width="88"
                height="31"
                class="pixelated border border-[#ECAEAE]"
                loading="lazy"
              />
              
              <!-- Hover tooltip -->
              <div class="opacity-0 group-hover:opacity-100 absolute -top-8 left-1/2 -translate-x-1/2 bg-black text-[#ECAEAE] text-xs px-2 py-1 rounded whitespace-nowrap border border-[#ECAEAE] transition-opacity duration-200 pointer-events-none font-['Courier_New',monospace]">
                {friend.name}
              </div>
            </a>
          </div>
        ))}
      </div>
    </div>

    <!-- Optional: Add your own 88x31 banner for others to use -->
    <div class="mt-9 text-center">
      <p class="font-['system-ui'] font-medium text-sm mb-2">
        and me :3
      </p>
      <div class="inline-block p-2 rounded">
        <img
          src="https://i.imgur.com/PfpetAP.png"
          alt="My website banner"
          width="88"
          height="31"
          class="pixelated"
        />
      </div>
    </div>
  </div>
</section>

<style>
  /* For proper pixel art rendering */
  .pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
</style>
